<form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
    <div class="form-group">
        <label for="inputEmail">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="user.username"
            #username="ngModel" required minlength="3">
    </div>
    @if(username.errors?.['required'] && username.dirty && username.touched ){
    <span class="invalid-msg">Username is required</span>
    }
    @if(username.errors?.['minlength'] && username.dirty && username.touched ){
    <span class="invalid-msg">Min length is 3</span>
    }
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel"
            [(ngModel)]="user.password" required>
    </div>
    @if(password.invalid && password.dirty && password.touched){
    <span class="invalid-msg">Password is required</span>

    }
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign in</button>
</form>